[Unit]
Description=Foucl backend service
Wants=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
User=${APP_USER}
WorkingDirectory=${APP_ROOT}/foucl
EnvironmentFile=${RUNTIME_ENV}
ExecStart=${APP_ROOT}/foucl/foucl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
